
.newClient{
	padding-right: 10px;
	margin-left: 10px;
	padding-right: 100px;
}

.ui.card {
	height: 380px;
	padding-right: 20px;	

}



.ui.pointing.menu {
	cursor: pointer;
}

.ui.tab {

}

.ui.item.menu{
	cursor: pointer;
}

#action_button {
	height: 110px;
	padding: 0px;
}

#accept_button, #decline_button{
	height: 110px;
	padding-left: 0px;
	width: 250px;
}


.ui.move.reveal {
    width: 290px;
    white-space: normal;
  }



  .ui.labeled.icon.menu .item{
    min-width: 33.3333%;
    max-width: 33.3333%;
    font-size: 0.8em;
    padding: 6px 2px;
  }


  #nameText {
  	font-size:40px;
  	color: white;
  	padding-left: 10px;
  }

  #extraText, #requestText {
  	font-size:20px;
  	color: white;
  	word-wrap: break-word;
  	padding-left: 15px;
  }

  #overText {
  	font-size:20px;
  	color: blue;
  	word-wrap: break-word;
  	padding-left: 15px;
  }

  #extraNotes {
  	font-size: 15px;
  	color: white;
  }

  #visibleCard {
  	background-color: #2185D0;
  	color: white;
  }

  #hiddenButtonsTop, #hiddenButtonsBottom {
  	height: 160px;
  }

  .dropdown {
	display:none;
  }

  /* Makes textarea fluid (Full width of container) */
  textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
  }